 .container {
   width: 90%;
   max-width: 1300px;
   margin: 0 auto;
 }


 .navbar {
   background-color: #ffffff;
   padding: 10px 30px;
   border-bottom: 1px solid #eaeaea;
   font-family: 'Segoe UI', Arial, sans-serif;
 }

 .navbar-brand {
   font-size: 26px;
   font-weight: bold;
   color: #db2525;
   text-decoration: none;
   display: flex;
   flex-direction: column;
   line-height: 1;
 }

 .brand-subtitle {
   font-size: 14px;
   font-weight: bold;
   color: #666;
   letter-spacing: 1px;
   margin-top: 2px;
 }

 .nav-link {
   color: #555 !important;
   font-size: 17px;
   font-weight: bold;
   padding: 8px 12px !important;
   transition: color 0.3s ease;
   gap: 8px;
   display: flex;
   align-items: center;
 }

 .nav-link:hover {
   color: #de3333 !important;
 }

 .login-btn {
  background-color: #e53935;
  color: #ffffff !important;
  padding: 8px 18px;
  border-radius: 8px;
  font-weight: 600;
  transition: background-color 0.2s ease;
  display: inline-flex;
}

/* REMOVE o hover padrão do Bootstrap */
.login-btn:hover,
.login-btn:focus {
  color: #ffffff !important;
  background-color: #840d0d; // vermelho mais escuro
}

/* Ícone branco sempre */
.login-btn img {
  filter: brightness(0) invert(1);
}

