<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dona Bell - Produtos Caseiros</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>

<body>

  <!-- HEADER -->
  <header>
    <div class="">
      <app-navbar></app-navbar>
    </div>
  </header>

  <!-- BANNER -->
  <section class="banner">
    <div class="container">
      <div>
        <h1>Produtos feitos com carinho</h1>
        <p>Elaborados com carinho, nossos produtos levam os melhores sabores à sua mesa.</p>
      </div>
      <img src="/images/banner-image.png" alt="Banner Image">
      <div>

      </div>
    </div>
  </section>

  <!-- PRODUTOS -->
  <section class="container">
    <h2 class="section-title">Nossos Produtos</h2>

    <div class="products-grid" id="productsGrid"></div>
  </section>

  <footer>
    <app-footer></app-footer>
  </footer>

  <router-outlet></router-outlet>



</body>

</html>
